.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

.main-content__title {
  font-size: 2rem;
  font-weight: 600;
}

.loader {
  width: 100%;
  animation: rotacion 2s infinite linear;

  @media (prefers-reduced-motion) {
    animation: none;
  }
}

@keyframes rotacion {
  from {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
