.header-content {
  display: flex;
  border-bottom: 2px solid var(--main-color);
  line-height: 28px;
  justify-content: space-between;
}

.page-title {
  font-size: 1.875rem;
  color: var(--main-color);
  font-weight: 600;
}

.page-counter {
  font-size: 1.5rem;
  color: var(--main-color);
  font-weight: 400;
}
