.main-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}

.main-content__title {
  color: var(--main-color);
  font-size: 1.875rem;
  font-weight: 400;
}

.loader {
  width: 50px;
  height: 50px;
  animation: rotacion 2s infinite linear;
}

@keyframes rotacion {
  from {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
