:root {
  --main-color: #304b5f;
  --secondary-color: #fafafa;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background-color: var(--secondary-color);
  margin: 0;
  font-family: "Inter Variable", sans-serif;
}

img {
  max-width: 100%;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}
