:root {
  --main-color: #304b5f;
  --secondary-color: #fafafa;
  --backgroundCard-color: #929fa97b;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background-color: var(--secondary-color);
  margin: 0;
  font-family:
    "Lexend Variable",
    sans-serif,
    system-ui,
    -apple-system;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
}

input,
textarea,
select {
  border: none;
  font: inherit;
  background: none;
  padding: 0;
  resize: none;
}
