:root {
  --main-color: #304b5f;
  --secondary-color: #fafafa;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background-color: var(--secondary-color);
  margin: 0;
  font-family:
    "Lexend Variable",
    sans-serif,
    system-ui,
    -apple-system;
}

img {
  max-width: 100%;
}

h1,
h2 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  text-decoration: none;
  list-style: none;
}
