.navigation {
  display: flex;
  gap: 20px;
}

.navigation__link {
  color: var(--secondary-color);
}

.active {
  text-decoration: underline;
  font-weight: 600;
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
  letter-spacing: 0.8px;
}
