.main-header {
  background-color: var(--main-color);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  max-width: 500px;
  width: 100%;
  z-index: 1;
}
