.vinyl__info {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.vinyl-detail__title {
  font-size: clamp(1.5rem, 5vw, 1.875rem);
  text-transform: uppercase;
  color: var(--main-color);
  padding-top: 30px;
}

.vinyl__artist {
  font-size: clamp(1rem, 5vw, 1.5rem);
  font-weight: 500;
  text-transform: capitalize;
}

.vinyl__image {
  width: 100%;
  padding: 20px;
  height: auto;
}

.vinyl__info-item {
  font-weight: 700;
  font-size: clamp(1.2rem, 5vw, 1.6rem);
}

.vinyl__info-data {
  font-weight: 400;
  font-size: clamp(1rem, 5vw, 1.5rem);
}

.vinyl__notes {
  font-size: clamp(1rem, 5vw, 1.5rem);
  border: 1px solid var(--main-color);
  box-shadow: 1px 1px 1px var(--main-color);
  padding: 8px;
  white-space: break-spaces;
}

.button--collection {
  padding: 5px 0px;
  width: 100%;
  font-size: clamp(1rem, 5vw, 1.5rem);
}

.vinyl__modify-info {
  color: var(--secondary-color);
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1rem, 5vw, 1.5rem);
  padding: 5px 0px;
  border-radius: 16px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
